@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

*{
    margin: 0 auto;
}
body{
    background-color: rgb(223, 214, 199);
    height: 100vh;
    width: 100vw;
}
header {
    background-image: url(./PokeBanner2.jpg);
    min-height: 205px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
section {
  width: 90vw;  
  height: 20%;
  text-align: center;
  height: 200px;
}
.welcomeText{
    text-align: center;
}
.searchTerm{
    width: 30%;
    height: 32px;
   
}
.updateSearch{
    margin-left: -5px;
    height: 38px;
    background-color: rgb(0, 81, 255);
    width: 10%;
    border-radius: 0 5px 5px 0;
    color:white;
}
/* Modal CSS */
.modalContainer{
    background-color: rgba(0, 0, 0, 0.301);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	overflow: auto;
	display: none;

}
.modalInfo{
    background-color: rgba(0, 0, 0, 0.938);
    height:65%;
	width: 45%;
	border-radius: 10px;
	margin: 150px auto;
    z-index: 12;
    display: flex;
    flex-direction: column;
}
.modalImage img{
    height: 100%;
    width: 100%;
}
.modalText{
    text-align: center;
    font-size: 1.5em;
    color: white;
    width: 90%;
    height: 100%;
    line-height: 2em;
}
.modalClose{
    width: 100%;
    height:10%;
}
.intro{
    width: 100%;
    align-items: center;
}
.carosel{
    display: flex;
    width: 100%;
    height: 175px;
    background-color: rgb(61, 61, 61);
    align-items: center;
    overflow: hidden;
    
    
}
.caroselImg{
    flex-basis: 90%;
    overflow: hidden;
    height: 150px;
     
}
.animateRight{
    animation-name: SlideRight;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}
.animateLeft{
    animation-name: SlideLeft;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}
.caroselPic{
    height: 150px;
    width: 150px;
    flex-shrink: 0;
    
    
}
.caroselPic:hover, .prevCarosel:hover, .nextCarosel:hover{
    transform: scale(1.1);
    
    
}
.prevCarosel{
    height: 175px;
    flex-basis: 5%;
    font-size: 30px;
    opacity: 40%;
    background-color: rgb(165, 165, 165);
    
}
.nextCarosel{
    height: 175px;
    flex-basis: 5%;
    opacity: 40%;
    font-size: 30px;
    background-color: rgb(165, 165, 165);
}
.bannerText{
    font-size: 4em;
    font-family: 'Pokemon Solid', sans-serif;
    color:rgb(241, 241, 3);
    text-align: center;
    text-shadow: 4px 7px blue;
}
.pokeList{
    display: flex;
    justify-content: center;
}
#test{
    height: 250px;
    margin: 4px;
    text-align: center;
    font-size: 1.4em;
    width: 90vw;
}
.sprites {
    max-height: 100px;
    max-width: 100px;
}
.id{
    display: flex;
    align-items: center;
    border: 1px solid black;
}
.idSmall{
    flex-basis: 5%;
}
.name{
    flex-basis: 20%;
}

.type{
    display: flex;
    flex-basis: 30%;
    justify-content: center;
    flex-direction: column;
    align-content: flex-start;
    
}
.generation{
    flex-basis: 5%;
margin:0 5px 0 5px;
text-align: center;
padding: 10px;
}

.type div{
    width: 100%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: inset 0px 0px 8px 1px rgb(200 200 200);
}

/* Types */
.normal{
    background-color: rgb(201, 202, 202);
}
.fire{
    background-color: red;
}
.water{
    background-color: rgb(0, 117, 212);
    color: white;
}
.ground{
    background-color: rgb(192, 149, 56);
}
.rock{
    background-color: rgb(107, 62, 31);
}
.flying{
    background-color: rgba(0, 225, 255, 0.904);
}
.electric{
    background-color: rgb(255, 251, 0);
}
.grass{
    background-color: rgb(16, 80, 29);
    color: white;
}
.bug{
    background-color: rgb(34, 199, 70);
}
.psychic{
    background-color: rgb(238, 75, 230);
    
}
.ghost{
    background-color: rgba(156, 92, 153, 0.822);
    color: white;
    
}
.dark{
    background-color: rgb(37, 23, 37);
    color: white;
}
.fairy{
    background-color: rgb(255, 145, 249);
}
.steel{
    background-color: rgb(136, 136, 136);
}
.dragon{
    background-color: rgba(140, 5, 144, 0.822);
    color: white;
}
.fighting{
    background-color: rgb(184, 49, 16);
}
.ice{
    background-color: rgb(24, 228, 255);
}
.poison{
    background-color: rgb(209, 20, 216)  ;  
}

@media(min-width:2000px){
    header{
    background-size: cover;
    }

}

@keyframes SlideRight{
    0% { opacity: 75%; transform: translateX(0px);}
    25% {opacity: 50%; transform: translateX(50px);}
    50% { opacity: 25%; transform: translateX(100px);}
    75% {opacity: 10%; transform: translateX(150px);}
    100% {opacity: 0%; transform: translateX(250px);}


}
@keyframes SlideLeft{
    0% { opacity: 75%; transform: translateX(0px);}
    25% {opacity: 50%; transform: translateX(-50px);}
    50% { opacity: 25%; transform: translateX(-100px);}
    75% {opacity: 10%; transform: translateX(-150px);}
    100% {opacity: 0%; transform: translateX(-250px);}


}